/*container */
*{
  padding: 0px;
  margin: 0px;
  
}
.img{
  padding: 0px !important;
  margin: 0px !important;
  width: 55px;
}
.container__main {
    font-family: "Sarabun", "sans-serif" ;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    /*color and hight*/
    background-color: #161616;
    /* background-color: rgb(0, 0,0, 0.2); */

    height: 60px;
  
    /* on top away  children*/
    position: -webkit-sticky;
    position: sticky;  
    top: 0px;
    z-index: 0;
  }
  
  /*dummy space*/
  .dummy{
      width: 20vw;
      height: 50px;
  }
  
  /*font h1*/
  h1 {
    color:white;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px; 
  }
  

  
  .deleteLine_react_router_dom{
    text-decoration: none;
  }