
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
.text__mobile-right{
    text-align: unset;
}
.text__mobile-left{
    text-align: unset;
}
.text-right{
    text-align: right;
}

.container{
    font-family: "Sarabun", "sans-serif" ;
    width: 100%;
    height: 100vh;
    position: relative;
}

/*help header access sticky top =0   parent*/
.container__header {
    padding: 0px;
    margin: 0px;
    position: absolute;
    height: calc(800%);
    width: 100%;
    margin-top: -60px;
    /* height: 310vh; */
}
@media screen and (max-width: 520px) {
    .container__header{
        height: 1000%;
    }
    .text__mobile-right{
        text-align: right !important;
    }
    .text__mobile-left{
        text-align: left !important;
    }
}
/*#######################################  Section 1    #################################################*/
.section1__container{
    /* background-color: royalblue; */
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1__text-container{
    width: 35%;
    height: 50%;
    margin-left: 50px;
    /* background-color: plum; */
}
.section1__picture-container{
    width: 50%;
    height: 50%;
    /* background-color: greenyellow; */
}
.section1__text-header{
    color: #27aa17;
    font-size:  5vmin;
    font-weight: bold;
    line-height: 38px;
}
.section1__text-sub-header{
    color: #212121;
    font-size: 4vmin;
    font-weight: bold;
    line-height: 38px;
}
.section1__line{
    margin-top: 2%;
    width: 70%;
    height: 0.3vh;
    background-color: #27aa17;
}
.section1__picture{
    width: 100%;
    height: auto;
}
.section1__detail{
    color:#666666;
    line-height: 1.7em;
}
.section1__dummy{
    width: 50px;
    height: 20px;
}

@media screen and (max-width: 520px) {
    
    .section1__container{
        width: calc(100% - 20px);
        height: calc(100% - 60px);
        /* background-color: chartreuse; */
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
    }
    .section1__text-container{
        width: 100%;
        margin-left: 0px;
        /* height: 50%; */
    }
    .section1__picture-container{
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    .container__header {
        margin-top: -60px;
    }
}
/*##############################>>>>>>>>>>  Section 1    <<<<<<<<<<<<<<<<<<<<####################################*/


/*##############################>>>>>>>>>>  Section 2   <<<<<<<<<<<<<<<<<<<<####################################*/
.section2__container{
    width: 100%;
    height: calc(135%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: honeydew; */
    flex-direction: column;
}
.section2__text-header-container{
    height: 10%;
    width: 100%;
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

/* container 2 _ 1  */
.section2__container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
    /* background-color: rgb(241, 141, 26); */
}
.section2__container1-left{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    /* background-color: wheat; */
    flex-direction: column;
}
.section2__container1-right{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    /* background-color: gray; */
}
.section2__container-text{
    width: 80%;
    height: 50%;
}


/* text  */
.section2__container1-left-text{
    text-align: right;
    color: #666666;
    line-height: 1.7em;
}
.section2__container1-right-text{
    text-align: left;
    color: #666666;
    line-height: 1.7em;


}
.dummy__text2-1{
    width: 20px;
    height: 20px;
}
/* container 2 _ 1  */


.section2__container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
    /* background-color: rgb(202, 123, 238); */
}

.section2__text-header{
    color: #212121;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.4em;

}
.section2__line{
    width: 10%;
    height: 0.6vh;
    background-color: #27aa17;
}

/* image  */
.section2__image1{
    width: 25%;
    height: auto;
}

.text-left__section2{
    text-align: left;
}
@media screen and (max-width: 520px) {
    .section2__line{
        width: 30%;
        height: 0.6vh;
        /* background-color: #27aa17; */
    }
    .section2__container1{
        flex-direction: column;
        /* background-color: rgb(73, 204, 197); */
        margin-top: 5vh;

    }
    .section2__container2{
        margin-top: 5vh;
        flex-direction: column;
        /* background-color: rgb(202, 123, 238); */
    }
    .section2__container1-left{
        width: 100%;
        height: 80%;
        align-items: center;
        justify-content: center;
        
    }
    .section2__container1-right{
        width: 100%;
    }
    .section2__container{
        height: 350%;
        align-items: center;
        justify-content: center;
    }

    .section2__container1{
        height: 200%;
    }
    .section2__container21{
        height: 200%;
    }

    .section2__image1{
        width: 90%;
        height: auto;
    }
    .section2__container-text{
        width: calc(100% - 20px);
        padding: 10px;
    }
    .section2__container1-left-text{
        text-align: right;
    }
    .section2__container1-right-text{
        text-align: left;
    }

}


/*##############################>>>>>>>>>>  Section 2   <<<<<<<<<<<<<<<<<<<<####################################*/


/*##############################>>>>>>>>>>  Section 3   <<<<<<<<<<<<<<<<<<<<####################################*/
.section3__container{
    width: 100%;
    height: calc(100%);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: honeydew; */
    flex-direction: column;
}
.section3__text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 20%;
    /* background-color: blueviolet; */
}
.section3_text2{
    color: #666666;
}
.section3_text1{
    font-size: 4.5vh;
    margin-bottom: 2%;
    color: #212121;
    font-weight: bold;
}
.section3__piture{
    width: 100%;
    height: 65%;
    /* background-color: yellowgreen; */
}
.section3__piture-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3__piture{
    width: 100%;
    height: auto;
}
.dummy3{
    width: 50px;
    height: 10%;
}

/*##############################>>>>>>>>>>  Section 3   <<<<<<<<<<<<<<<<<<<<####################################*/

/*##############################>>>>>>>>>>  Section 4   <<<<<<<<<<<<<<<<<<<<####################################*/

.section4__container{
    width: 100%;
    height: calc(20%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: honeydew; */
    flex-direction: column;
}

/* top */
.section4__container-top{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4__header{
    color: #212121;
    font-size: 5vh;
}
.section4__text-detail{
    color: #666666;
    list-style: 10em;
}
.dummy__scrion4{
    width: 50px;
    height: 4vh;
}



/* bootom */
.section4__container-bottom{
    width: 80%;
    height: 65%;
    /* background-color: #f0a3a3; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.container4__left{
    width: 40%;
    height: 85%;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    
}
.text-align{
    text-align: right;
}
.section4__header-left{
    color: #212121;
    font-size: 4vh;
    line-height: 5vh;
    font-weight: bold;
    
}
.container4__right{
    width: 40%;
    height: 85%;
    /* background-color: rgb(81, 179, 179); */
}

.section4__picture{
    width: 100%;
    height: auto;
}


/*##############################>>>>>>>>>>  Section 4   <<<<<<<<<<<<<<<<<<<<####################################*/


/*##############################>>>>>>>>>>  Section 5  <<<<<<<<<<<<<<<<<<<<####################################*/

.section5__container{
    width: calc(100% - 20px);
    height: calc(180% - 5px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: rgb(118, 204, 118); */
    flex-direction: column;
    padding:10px;
}
.section5__top-container{
    width: 90%;
    height: 50%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section5__bottom-container{
    width: 90%;
    height: 50%;
    /* background-color: pink; */
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.section5__container-picer{
    width: 35%;
    height: auto;
    /* background-color: plum; */
}
.section5__right-text{
    width: 30%;
    height: 90%;
    /* background-color: rgb(207, 59, 207); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

.section5__left-text{
    width: 30%;
    height: 90%;
    /* background-color: rgb(100, 198, 255); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

/* puicture */
.section5__picture{
    width: 100%;
    height: auto;
}
.dummy__section5{
    width: 50;
    height: 5vh;
}
@media screen and (max-width: 520px) {
    .section5__container{
        height: 270%;
        flex-direction: column;
        /* background-color: chocolate; */
    }
    .section5__top-container{
        flex-direction: column-reverse;
    }
    .section5__right-text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section5__bottom-container{
        flex-direction: column;
    }
    .section5__container-picer{
        width: 80%;
    }
    .section5__left-text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section4__container{
        height: 30%;
    }
    .section4__container-top{
        width: 100%;
        height: 100%;
    }
    .section4__text-detail{
        text-align: center;
        font-size: 3.5vw;
        line-height: 5vw;
    }
   .section4__header{
       line-height: 7vh;
   }
}

/*##############################>>>>>>>>>>  Section 5   <<<<<<<<<<<<<<<<<<<<####################################*/

/*##############################>>>>>>>>>>  Section 6  <<<<<<<<<<<<<<<<<<<<####################################*/
h1{
    color: #666666;
}
.section6__container{
    width: 100%;
    height: calc(100%);
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: honeydew; */
    flex-direction: column;
}
.section6__top-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 20%;
    /* background-color: plum; */
}
.section6__bottom-container{
    width: 55%;
    height: 80%;
    /* background-color: rgb(126, 49, 126); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section6__container1{
    width: 100%;
    height: 30%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center{
    justify-content: center;
}

.section6__container2{
    padding-left: 1%;
    padding-right: 1%;
    width: 45%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 25px 44px -18px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 25px 44px -18px rgba(0,0,0,0.4);
    box-shadow: 0px 25px 44px -18px rgba(0,0,0,0.4);

}

.dummy__section6{
    width: 20px;
    height: 1em;
}

.section6__font-header{
    font-weight: bold;
    color:  #27aa17;
    line-height: 2em;
    font-size: 1.5vw;
}
.section6__text-detail{
    font-size: 1.2vw;
}
@media screen and (max-width: 520px) {
    .section6__font-header{
        font-size:4vw;
    }
    .section6__container{
        height: 160%;
        width: 100%;
    }
    .section6__container1{
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .section6__container2{
        width: 95%;
    }
    .section6__bottom-container{
        width: 100%;
    }
    .section6__container2{
        height: 47%;
    }
    .section6__top-container{
        width: 95%;
    }
    .section6__text-detail{
        font-size: 3.5vw;
        color: #666666;
    }
}
/*##############################>>>>>>>>>>  Section 6   <<<<<<<<<<<<<<<<<<<<####################################*/


/*##############################>>>>>>>>>>  Section 7   <<<<<<<<<<<<<<<<<<<<####################################*/
.section7__container{
    /* background-color: lavender; */
    width: 100%;
    height: calc(130%);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: blueviolet; */
    
}
.section7__banner{
    width: 100%;
    height: 70%;
    display: flex;
    background: rgb(68,202,69);
    background: linear-gradient(90deg, rgba(68,202,69,1) 0%, rgba(4,66,5,1) 100%);
    align-items: center;
    justify-content: center;
    /* z-index: 9; */
    
}
.section7__text{
    color: white !important;
    font-size: 1.15vw;
    line-height: 2em;
    
}
.section7__container1{
    width: 45%;
    height: 100%;
    /* background-color: lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section7__container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-top: 3%;
    /* background-color: rgb(214, 168, 168); */
}

.section7__container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    /* background-color: rgb(217, 226, 226); */
    flex-direction: column;
    margin-top: 5vh;
}

.section7__text-header{
    font-weight: bold;
    color:  white;
    line-height: 2em;
    font-size: 2vw;
}

/* botton */
.section7__button{
    width: 15%;
    height: 5vh;
    background-color: white;

    border-radius: 2.5vh 2.5vh 2.5vh  2.5vh;  
    box-sizing: border-box;
    Outline: none;
    border: none;
    font-size: 1em;
    color: #666666;
}
.section7__button:hover{
    background-color: rgb(228, 225, 225);
}
.section7__dummy{
    width: 20px;
    height: 5%;
}

/* section2  */
.section7__titile{
    display: flexbox;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.section7__profile-line{
    width: 4vw;
    height: 0.5vh;
    background-color:  #27aa17;
    margin-top: 10%;
}

.section7__titile__text{
    font-size: 2vw;
    color: #212121;
}

.section7__customer{
    width: 60%;
    height: 40%;
    /* background-color: thistle; */
}

.carousel-item-padding-40-px{
    width: 50%;
    height: 100%;
}
.section7__partner{
    width: 100%;
    height: 80%;
    /* background-color: rgb(218, 149, 60); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* partner  */
.section7__partner1{
    width: 70%;
    height: 40%;
    padding: 10px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7__partner2{
    width: 70%;
    height: 40%;
    padding: 10px;
    /* background-color: rgb(228, 243, 213); */
}

/* picture partner  */
.section7__partner-picture{
    width: 15%;
    height: auto;
}
@media screen and (max-width: 520px) {
    .section7__container{
        margin-top: 0px;
        height: 120%;
        justify-content: space-between;
    }
    .section7__banner{
        height: 50%;
    }
    .section7__text-header{
        font-size: 3.7vw;
    }
    .section7__text{
        font-size: 3vw;
    }
    .section7__container1{
        width: 95%;
        height: 30%;
    }
    .section7__container3{
        margin-top: 0px;
        height: 30%;
    }
    .section7__titile__text{
        font-size: 3.7vw;
    }
    .section7__profile-line{
        width: 7vw;
    }
    .section7__container2{
        margin-top: 0px;
        height: 100%;
        justify-content: flex-start;
    }

    .section7__customer{
        height: 30%;
        width: 95%;
    }


    .section7__partner1{
        flex-direction: column;
    }
}


/* mobile */
.section7__part-conter-mobile{
    width: 100%;
    height: 90%;
    /* background-color: rgb(26, 110, 110); */
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container__srction7-1{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.container__srction7-2{
    height: 10%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.conter7__mobile{
    width: 45%;
    height: 90%;
    /* background-color: rgb(106, 173, 173); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section7__partner-mobile{
    width: 35vw;
    height: auto;
}
.pic__partner{
    width: 20vw;
}
.pic__partner2{
    width: 35vw;

}
/*##############################>>>>>>>>>>  Section 7   <<<<<<<<<<<<<<<<<<<<####################################*/
