#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #e6e6e6;
}
.first-page {
  height: 95%;
  min-height: 95%;
}
.second-page {
  height: 90%;
  min-height: 90%;
}
.third-page {
  height: 90%;
  min-height: 90%;
}
.fourth-page {
  height: 95%;
  min-height: 95%;
}
.hint {
  position: absolute;
  bottom: 20%;
  font-size: 16px;
}
