.menu{
    width: 100px;
    // background-color: aqua;
    z-index: 1 !important;
    pointer-events: painted;
    margin-top: -10px;
    position: relative;
}

div{
    font-family: "Sarabun", "sans-serif" ;
    height: auto;
    width: 100%;
    .container__header{
        top: 0px;
        margin: 0px;
        position: absolute;
        height: calc(170vh);
        width: 100%;
        z-index: 1;
        margin-top: -60px;
        // background-color: bisque;
        
    }
    .googlemap{
        width: 100%;
        height: 50vh;
        margin-top: 60px;   
    }
    .id2{
        margin-left: 10px;
        width: 320px;
        display: flex;;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding: 5px;
        height: 100px;
        background-color: black;
        position: absolute;
        bottom: 45vh;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        >h1{
            font-size: 20px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-align: center;
        }
        >p{
            font-size: 16px;
            color: rgb(255, 255, 255);
            text-align: center;
        }
    }


    .container__grid{
        width: 80%;
        height: calc(70vh);
        // background-color: blue;
        margin: auto auto;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: 200px repeat(7,1fr);
        grid-gap: 10px;

        .section1{
            // background-color: rgb(187, 226, 214);
            display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                h1{
                    font-weight: bold;
                    color: #27aa17;
                    font-size: 2.3vmin;
                }
                p{
                    font-size: 2vmin;
                }

        }
        .section2{
            // background-color: rgb(247, 118, 204);
            display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                text-align: center;
                h1{
                    font-weight: bold;
                    color: #27aa17;
                    font-size: 2.3vmin;
                }
                p{
                    font-size: 2vmin;
                }

        }
        .section3{
            // background-color: rgb(69, 138, 52);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: center;
            h1{
                font-weight: bold;
                color:#27aa17;
                font-size: 2.3vmin;
            }
            p{
                font-size: 2vmin;
            }

        }
        .section4{
            background-color: rgb(218, 156, 156);
            grid-column: span 3;
            padding: 1px ;
            grid-row: span 8;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: center;
            h1{
                font-weight: bold;
                color: #27aa17;
                font-size: 2.3vmin;
            }
            p{
                font-size: 2vmin;
            }

        }
    }
    
}
@media  screen and (max-width: 700px) {
    div{
        .container__grid{
            width: 80%;
            height: calc(100vh);
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(6,minmax(100px,auto));
            .section1{
                grid-column: span 3;
                grid-row: span 1;
                h1{

                    font-size: 4vmin;
                }
                p{
                    font-size: 3vmin;
                }
            }
            .section2{
                grid-column: span 3;
                grid-row: span 1;
                h1{
                    font-size: 4vmin;
                }
                p{
                    font-size: 3vmin;
                }
            }
            .section3{
                grid-column: span 3;
                grid-row: span 1;
                h1{
                    font-size: 4vmin;
                }
                p{
                    font-size: 3vmin;
                }
            }
            .section4{
                grid-column: span 3;
                grid-row: span 3;
                h1{
                    font-size: 4vmin;
                }
                p{
                    font-size: 3vmin;
                }
            }
        }
    }
}