@import './reset';
$font-color-white : white;
$font-color-grey : #666666;

$desktop:1024px;

%font-size-header{
    font-size: 4vh;
    text-align: center;
    line-height: 6vh;
    color: black;
}
%font-size-detail{
    font-size: 2.3vh;
    text-align: center;
    line-height: 3.4vh;
}

div#container{
    font-family: "Sarabun", "sans-serif" ;
    width: calc(100%);
    background-color: rgb(255, 255, 255);
    position: relative;
}

div#container__header{
    top: 0px;
    margin: 0px;
    position: absolute;
    height: calc(500vh);
    width: 100%;
    z-index: 99;
    margin-top: -60px;
}

div#section1__container{
    width: calc(100%);
    height: calc(100vh);
    background-color: #cccccc;
    background-image: url('../img/usecase/MockupLayout_mobile2.png');
    background-size: cover;
    background-position: center -13vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    h1{
        @extend %font-size-header;
        margin-top: 53vh;
        position:absolute;
        font-weight: bold;
        color: $font-color-white;
    }
    div{
        padding: 5vw;
        p{  
            @extend %font-size-detail;
            color: $font-color-white;
            margin-top: 58vh;
            text-align: center;
        }
    }
}
@media screen and (min-width: 520px) {
    div#section1__container{
        background-image: url('../img/usecase/MockupLayout.png');
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
            position: relative;
            margin-left: 15vw;
        }
        div{
            width: 30%;
            height: 30%;
            background-color: rgb(86, 147, 182);
            p{
                margin-top: 0px;
            }
        }
        div#section1__container__desktop{
            
        }
    }
   
}


div#section2__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: calc(100%);
    height: calc(100vh - 60px);
    // background-color: rgb(186, 219, 181);
   
   
    div.text__container{
        width: 90%;
        height: auto;
        padding: 3vw;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 2.8vh;
                font-weight: bold;
                margin-top: 20%;
            }
        }
    }
    p{
        @extend %font-size-detail;
        margin-top: 5.5vh;
        text-align: left;
    }
    img{
        margin-top: 25%;
        width: 80%;
        height: auto;
    }
}
div.section__line{
    height: 3px !important;
    width: 80%;
    background-color:  #27aa17;
    align-self: flex-start;
}
div.section__line2{
    height: 3px !important;
    width: 80%;
    background-color:  #27aa17;
    align-self: flex-end;
}

div#section3__container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        height: 40%;
        align-items: flex-end;
        padding: 5vw;
        width: calc(100% - 10vw);
        // background-color: aqua;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3vh;
                text-align: right;
                font-weight: bold;
            }
        }
        
        
        >p{
            @extend %font-size-detail;
            text-align: right;
            margin-top: 3vh;
        }
    }
    >img{
        width: 100%;
        height: auto;
    }
}

div#section4__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        align-items: flex-start;
        padding: 5vw;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3.4vh;
                text-align: left;
                font-weight: bold
            }
        }
        >p{
            @extend %font-size-detail;
            text-align: left;
        }
    }
    >img{
        width: 95%;
        height: auto;
    }
}

div#section5__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        align-items: flex-end;
        padding: 5vw;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3.4vh;
                text-align: right;
                font-weight: bold
            }
        }
        >p{
            @extend %font-size-detail;
            text-align: right;
        }
    }
    >img{
        width: 95%;
        height: auto;
    }
}

div#section6__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        align-items: flex-start;
        padding: 5vw;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3.4vh;
                text-align: left;
                font-weight: bold
            }
        }
        >p{
            @extend %font-size-detail;
            text-align: left;
        }
    }
    >img{
        width: 95%;
        height: auto;
    }
}

div#section7__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        align-items: flex-end;
        padding: 5vw;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3.4vh;
                text-align: right;
                font-weight: bold
            }
        }
        >p{
            @extend %font-size-detail;
            text-align: right;
            line-height: 3.5vh;
            margin-top: 20px;
        }
    }
    >img{
        width: 95%;
        height: auto;
    }
}

div#section8__container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30%;
        align-items: flex-start;
        padding: 5vw;
        // background-color: red;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3.4vh;
                text-align: left;
                font-weight: bold
            }
        }
        >p{
            @extend %font-size-detail;
            text-align: left;
        }
    }
    >img{
        width: 95%;
        height: auto;
    }
}

div#section9__container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: calc(100vh);
    // background-color: rgb(78, 73, 148);
    >div{
        display: flex;
        flex-direction: column;
        height: 40%;
        align-items: flex-end;
        padding: 5vw;
        width: calc(100% - 10vw);
        // background-color: aqua;
        >span{
            display: inline-block;
            border-bottom: 4px solid #27aa17;
            padding-bottom: 4px;
            >h1{
                @extend %font-size-header;
                font-size: 3vh;
                text-align: right;
                font-weight: bold;
            }
        }
        
        
        >p{
            @extend %font-size-detail;
            text-align: right;
            margin-top: 3vh;
        }
    }
    >img{
        width: 100%;
        height: auto;
    }
}

div#section10__container{
    width: calc(100% - 10vw);
    height: 40vh;
    background-color: #2eaf1d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    h1{
        @extend %font-size-header;
        font-size: 3.2vh;
        color: $font-color-white;
    }
    p{
        @extend %font-size-detail;
        color: $font-color-white;
        font-size: 2.1vh;

    }
    div{
        width: 20vw;
        height:  10vw;
        margin-top: 15px;
        background-color: #2eaf1d;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 3.5vw;
            color: white;
        }
    }
}