div.main{
    width: 100%;
    font-family: "Sarabun", "sans-serif" ;
}

div#container__header{
    top: 0px;
    margin: 0px;
    position: absolute;
    height: calc(900vh);
    width: 100%;
    z-index: 99;
    margin-top: -60px;
}

div.section1__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: aqua;
    background-image: url('../img/usecase/MockupLayout2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 95%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item2 item1"
        "item2 item1";
        align-items: center;
        // background-color: bisque;
        div.item1{
            grid-area: item1;
            // background-color: aqua;
        }

        div.item2{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            grid-area: item2;
            padding: 10px;
            // background-color: rgba(70, 112, 98 ,1);
            h1{
                color: white;
                font-size: 6vmin;
                line-height: 1.5em;
                text-align: center;
            }
            p{  
                color: white;
                text-align: center;
                font-size: 3vmin;
                margin-top: 15px;
                line-height:5vmin;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    div.section1__container{
        background-image: url('../img/usecase/MockupLayout_mobile2.png');
        background-position: center -10em;
        width: auto;
        justify-content: flex-start;
        >div{
            grid-template-areas: 
            "item1 item1"
            "item2 item2";
            width: 95%;
            height: 80%;
            align-items: unset;
            div.item2{
                h1{
                    line-height: 2em;
                }
                p{
                    font-size: 1em;
                }
            }
        }
    }
  }

div.section2__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: khaki;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    >div.bg1{
        width: 60%;
        height: 60%;
        // background-color: lemonchiffon;
        background-image: url('../img/usecase/SEESETGraphic.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 35%;
        margin-top: 12vw;
    }
    >div{
        position: absolute;
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "item3 item4 "
        "item3 item4";
        padding: 2px;
        div.item3{
            grid-area: item3;
            // background-color: lawngreen;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                h1{
                    font-size: 4.5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
            }
            p{
                font-size: 3vmin;
                margin-top: 15px;
                line-height:5vmin;

            }
        }
        div.item4{
            grid-area: item4;
            // background-color: rgb(86, 92, 184);
            img{
                width: 0%;
                position: absolute;

            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section2__container{
        >div.bg1{
            background-image: none;
            margin-left: 0%;
            margin-top: 0%;
        }
        >div{
            grid-template-areas: 
            "item4 item4"
            "item3 item3";
            div.item3{
                background-color: rgba(25, 26, 102,0);
            }
            div.item4{
                // background-color: rgb(193, 82, 197);
                img{
                    width: 100%;
                    height: auto;
                }
            }
            div.item3{
                p{
                    font-size: 4vmin;
                    line-height:6vmin;
    
                }
            }
        }
    }
}


div.section3__container{
    width: 100%;
    height: calc(0100vh - 60px);
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item5 item6"
        "item5 item6";
        >div.item5{
            grid-area: item5;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.item6{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-area: item6;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section3__container{
        >div{
            grid-template-areas: 
            "item5 item5"
            "item6 item6";
            >div.item6{
                p{
                    font-size: 4vmin;
                    line-height:6vmin;
                }
            }
        }
    }
}

div.section4__container{
    width: 100%;
    height: calc(0100vh - 60px);
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item8 item7"
        "item8 item7";
        >div.item7{
            grid-area: item7;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 60%;
            margin-left: 0%;
            // img{
            //     width: 100%;
            //     height: auto;
            // }
            >div{
                width: 100%;
                height: 200%;
                // background-color: goldenrod;
                background-image: url('../img/usecase/Move_IdleMachine.gif');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        >div.item8{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item8;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section4__container{
        >div{
            grid-template-areas: 
            "item7 item7"
            "item8 item8";
            >div.item7{
                margin-top: 0%;
                margin-left: 0%;
                img{
                    width: 100%;
                }
            }
            >div.item8{
                p{
                    font-size: 4vmin;
                    line-height:6vmin;
                }
            }
        }
    }
}


div.section5__container{
    width: 95%;
    height: calc(0100vh - 60px);
    // background-color: violet;
    >div{
        width: 90%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item9 item10"
        "item9 item10";
        >div.item9{
            grid-area: item9;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 55%;
            margin-left: 0%;
            // img{
            //     width: 100%;
            //     height: auto;
            // }
            >div{
                width: 100%;
                height: 200%;
                // background-color: goldenrod;
                background-image: url('../img/usecase/Move_LineMachine.gif');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        >div.item10{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            grid-area: item10;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                text-align: right;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section5__container{
        >div{
            grid-template-areas: 
            "item9 item9"
            "item10 item10";
            >div.item9{
                margin-top: 0%;
                margin-left: 0%;
                img{
                    width: 100%;
                }
            }
            >div.item10{
                p{
                    font-size:4vmin;
                    line-height:6vmin;
                }
            }
        }
    }
}

div.section6__container{
    width: 100%;
    height: calc(0100vh - 60px);
    // background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 80%;
        height: 80%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item12 item11"
        "item12 item11";
        >div.item11{
            grid-area: item11;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
                margin-left: 35%;
            }
        }
        >div.item12{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item12;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section6__container{
        >div{
            grid-template-areas: 
            "item11 item11"
            "item12 item12";
            >div.item11{
                img{
                    margin-left: 0%;
                }
                
            }
            >div.item12{
                >p{
                    font-size: 4vmin;
                    line-height:6vmin;
                }
                
            }
        }
    }
}


div.section7__container{
    width: 100%;
    height: calc(0100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item13 item14"
        "item13 item14";
        >div.item13{
            grid-area: item13;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.item14{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            grid-area: item14;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section7__container{
        >div{
            grid-template-areas: 
            "item13 item13"
            "item14 item14";
            >div.item14{
                p{
                    font-size: 4vmin;
                    line-height:6vmin;
                }
            }
        }
    }
}

div.section8__container{
    width: 100%;
    height: calc(0100vh - 60px);
    // background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item15 item16"
        "item15 item16";
        >div.item15{
            grid-area: item15;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.item16{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item16;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17; 
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section8__container{
        >div{
            grid-template-areas: 
            "item15 item15"
            "item16 item16";
            >div.item16{
                p{
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
            }
        }
    }
}

div.section9__container{
    width: 100%;
    height: calc(0100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item17 item18"
        "item17 item18";
        >div.item17{
            grid-area: item17;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.item18{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item18;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    div.section9__container{
        >div{
            grid-template-areas: 
            "item17 item17"
            "item18 item18";
            >div.item18{
                p{
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
            }
        }
    }
}



div.section10__container{
    width: calc(100% - 50vw);
    height: 45vh;
    background-color: #2eaf1d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25vw;
    padding-right: 25vw;
    h1{
        font-size: 4vmin;
        color: white;
    }
    p{
        color: white;
        font-size: 2.5vmin;
        text-align: center;
        line-height: 4vmin;
    }
    div{
        width: 90px;
        height:  50px;
        margin-top: 15px;
        background-color: #2eaf1d;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 20px;
            color: white;
        }

    }
}
@media only screen and (max-width: 720px) {
    div.section10__container{
        width: calc(100% - 10vw);
        padding-left:5vw;
        padding-right: 5vw;
        h1{
            font-size: 6vmin;
        }
        p{
            font-size: 4vmin;
            line-height: 6vmin;
        }
    }
}