/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, _reset.scss */
body {
  line-height: 1; }

/* line 34, _reset.scss */
ol, ul {
  list-style: none; }

/* line 37, _reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, usecase.scss */
div#section1__container h1, div#section2__container div.text__container > span > h1, div#section3__container > div > span > h1, div#section4__container > div > span > h1, div#section5__container > div > span > h1, div#section6__container > div > span > h1, div#section7__container > div > span > h1, div#section8__container > div > span > h1, div#section9__container > div > span > h1, div#section10__container h1 {
  font-size: 4vh;
  text-align: center;
  line-height: 6vh;
  color: black; }

/* line 13, usecase.scss */
div#section1__container div p, div#section2__container p, div#section3__container > div > p, div#section4__container > div > p, div#section5__container > div > p, div#section6__container > div > p, div#section7__container > div > p, div#section8__container > div > p, div#section9__container > div > p, div#section10__container p {
  font-size: 2.3vh;
  text-align: center;
  line-height: 3.4vh; }

/* line 19, usecase.scss */
div#container {
  font-family: "Sarabun", "sans-serif";
  width: calc(100%);
  background-color: white;
  position: relative; }

/* line 26, usecase.scss */
div#container__header {
  top: 0px;
  margin: 0px;
  position: absolute;
  height: calc(500vh);
  width: 100%;
  z-index: 99;
  margin-top: -60px; }

/* line 36, usecase.scss */
div#section1__container {
  width: calc(100%);
  height: calc(100vh);
  background-color: #cccccc;
  background-image: url("../img/usecase/MockupLayout_mobile2.png");
  background-size: cover;
  background-position: center -13vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; }
  /* line 46, usecase.scss */
  div#section1__container h1 {
    margin-top: 53vh;
    position: absolute;
    font-weight: bold;
    color: white; }
  /* line 53, usecase.scss */
  div#section1__container div {
    padding: 5vw; }
    /* line 55, usecase.scss */
    div#section1__container div p {
      color: white;
      margin-top: 58vh;
      text-align: center; }

@media screen and (min-width: 520px) {
  /* line 64, usecase.scss */
  div#section1__container {
    background-image: url("../img/usecase/MockupLayout.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    /* line 69, usecase.scss */
    div#section1__container h1 {
      position: relative;
      margin-left: 15vw; }
    /* line 73, usecase.scss */
    div#section1__container div {
      width: 30%;
      height: 30%;
      background-color: #5693b6; }
      /* line 77, usecase.scss */
      div#section1__container div p {
        margin-top: 0px; } }
/* line 89, usecase.scss */
div#section2__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100%);
  height: calc(100vh - 60px); }
  /* line 99, usecase.scss */
  div#section2__container div.text__container {
    width: 90%;
    height: auto;
    padding: 3vw; }
    /* line 103, usecase.scss */
    div#section2__container div.text__container > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 107, usecase.scss */
      div#section2__container div.text__container > span > h1 {
        font-size: 2.8vh;
        font-weight: bold;
        margin-top: 20%; }
  /* line 115, usecase.scss */
  div#section2__container p {
    margin-top: 5.5vh;
    text-align: left; }
  /* line 120, usecase.scss */
  div#section2__container img {
    margin-top: 25%;
    width: 80%;
    height: auto; }

/* line 126, usecase.scss */
div.section__line {
  height: 3px !important;
  width: 80%;
  background-color: #27aa17;
  align-self: flex-start; }

/* line 132, usecase.scss */
div.section__line2 {
  height: 3px !important;
  width: 80%;
  background-color: #27aa17;
  align-self: flex-end; }

/* line 139, usecase.scss */
div#section3__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px); }
  /* line 146, usecase.scss */
  div#section3__container > div {
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: flex-end;
    padding: 5vw;
    width: calc(100% - 10vw); }
    /* line 154, usecase.scss */
    div#section3__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 158, usecase.scss */
      div#section3__container > div > span > h1 {
        font-size: 3vh;
        text-align: right;
        font-weight: bold; }
    /* line 167, usecase.scss */
    div#section3__container > div > p {
      text-align: right;
      margin-top: 3vh; }
  /* line 173, usecase.scss */
  div#section3__container > img {
    width: 100%;
    height: auto; }

/* line 179, usecase.scss */
div#section4__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px); }
  /* line 187, usecase.scss */
  div#section4__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: flex-start;
    padding: 5vw; }
    /* line 194, usecase.scss */
    div#section4__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 198, usecase.scss */
      div#section4__container > div > span > h1 {
        font-size: 3.4vh;
        text-align: left;
        font-weight: bold; }
    /* line 205, usecase.scss */
    div#section4__container > div > p {
      text-align: left; }
  /* line 210, usecase.scss */
  div#section4__container > img {
    width: 95%;
    height: auto; }

/* line 216, usecase.scss */
div#section5__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh); }
  /* line 224, usecase.scss */
  div#section5__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: flex-end;
    padding: 5vw; }
    /* line 231, usecase.scss */
    div#section5__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 235, usecase.scss */
      div#section5__container > div > span > h1 {
        font-size: 3.4vh;
        text-align: right;
        font-weight: bold; }
    /* line 242, usecase.scss */
    div#section5__container > div > p {
      text-align: right; }
  /* line 247, usecase.scss */
  div#section5__container > img {
    width: 95%;
    height: auto; }

/* line 253, usecase.scss */
div#section6__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh); }
  /* line 261, usecase.scss */
  div#section6__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: flex-start;
    padding: 5vw; }
    /* line 268, usecase.scss */
    div#section6__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 272, usecase.scss */
      div#section6__container > div > span > h1 {
        font-size: 3.4vh;
        text-align: left;
        font-weight: bold; }
    /* line 279, usecase.scss */
    div#section6__container > div > p {
      text-align: left; }
  /* line 284, usecase.scss */
  div#section6__container > img {
    width: 95%;
    height: auto; }

/* line 290, usecase.scss */
div#section7__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh); }
  /* line 298, usecase.scss */
  div#section7__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: flex-end;
    padding: 5vw; }
    /* line 305, usecase.scss */
    div#section7__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 309, usecase.scss */
      div#section7__container > div > span > h1 {
        font-size: 3.4vh;
        text-align: right;
        font-weight: bold; }
    /* line 316, usecase.scss */
    div#section7__container > div > p {
      text-align: right;
      line-height: 3.5vh;
      margin-top: 20px; }
  /* line 323, usecase.scss */
  div#section7__container > img {
    width: 95%;
    height: auto; }

/* line 329, usecase.scss */
div#section8__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh); }
  /* line 337, usecase.scss */
  div#section8__container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    align-items: flex-start;
    padding: 5vw; }
    /* line 345, usecase.scss */
    div#section8__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 349, usecase.scss */
      div#section8__container > div > span > h1 {
        font-size: 3.4vh;
        text-align: left;
        font-weight: bold; }
    /* line 356, usecase.scss */
    div#section8__container > div > p {
      text-align: left; }
  /* line 361, usecase.scss */
  div#section8__container > img {
    width: 95%;
    height: auto; }

/* line 367, usecase.scss */
div#section9__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: calc(100vh); }
  /* line 374, usecase.scss */
  div#section9__container > div {
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: flex-end;
    padding: 5vw;
    width: calc(100% - 10vw); }
    /* line 382, usecase.scss */
    div#section9__container > div > span {
      display: inline-block;
      border-bottom: 4px solid #27aa17;
      padding-bottom: 4px; }
      /* line 386, usecase.scss */
      div#section9__container > div > span > h1 {
        font-size: 3vh;
        text-align: right;
        font-weight: bold; }
    /* line 395, usecase.scss */
    div#section9__container > div > p {
      text-align: right;
      margin-top: 3vh; }
  /* line 401, usecase.scss */
  div#section9__container > img {
    width: 100%;
    height: auto; }

/* line 407, usecase.scss */
div#section10__container {
  width: calc(100% - 10vw);
  height: 40vh;
  background-color: #2eaf1d;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw; }
  /* line 417, usecase.scss */
  div#section10__container h1 {
    font-size: 3.2vh;
    color: white; }
  /* line 422, usecase.scss */
  div#section10__container p {
    color: white;
    font-size: 2.1vh; }
  /* line 428, usecase.scss */
  div#section10__container div {
    width: 20vw;
    height: 10vw;
    margin-top: 15px;
    background-color: #2eaf1d;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 438, usecase.scss */
    div#section10__container div h2 {
      font-size: 3.5vw;
      color: white; }

/*# sourceMappingURL=usecase.css.map */
